.servicios_list {
    column-count: 2; /* Divide la lista en dos columnas */
    column-gap: 30px; /* Espacio entre las columnas (ajusta según tus preferencias) */
    list-style-type: none; /* Elimina los marcadores de lista */
    padding: 0; /* Elimina el relleno predeterminado de la lista */
  }
  
  .servicios_list li {
    margin-bottom: 10px; /* Espacio entre elementos de la lista */
  }